:root
{
	--main-color: #ffffff;
	--main-color-2: #023BA2;
	--main-color-3: darkmagenta;
	--main-color-3: #fafafa;
	--main-color-4: #f4f4f4;
	--background-image-src: url('/images/logo.png');
	/*--main-color-2: #044955;*/
}